<title>favorite</title>

{% extends 'assignment8.html' %}
{% block favorite %}
    <h2 style="margin-left: 8%">And today, I really love to see & hear the waves ...</h2>
    <iframe style="margin-left: 32%" width="560" height="315"
            src="https://www.youtube.com/embed/C7c5h6yk2ME?autoplay=1&mute=1" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <div class="parallax"></div>
{% endblock %}